{% macro parse(all_caps='', cabob_case='', default='', flag=false) %}
{{ all_caps }}={{ default }}
for arg in "$@"; do
    case $arg in
    --{{ cabob_case }}=*) {{ all_caps }}="${arg#*=}";;
    {% if flag %}
    --{{ cabob_case }}) {{ all_caps }}=true;;
    {% endif %}
    esac
done
{% endmacro %}

{% macro debug(all_caps='', cabob_case='', hint='') %}
if [ "$DEBUG" = true ]; then
    debug "{{ cabob_case }}: '${{ all_caps }}' ({{ hint }})"
fi
{% endmacro %}